__pycache__/
References/
doc/_build/html/_sources/
doc/_build/html/_static/
local_scripts/
testdata/*.json
*.json
twitterfeatures/twitterusers.pyc
Approach
testdata/dictionary_lengths
testdata/dict_lengths.ofig
testdata/human_dict_length.csv
testdata/bot_dict_length.csv
testdata/ReadMe
testdata/.~lock.bot_dict_length.csv#
testdata/.~lock.human_dict_length.csv#
processed_human_corpus
processed_bot_corpus
human_dictionary
bot_dictionary

