__pycache__/
References/
doc/_build/html/_sources/
doc/_build/html/_static/
local_scripts/
*.json
twitterfeatures/twitterusers.pyc
Approach
processed_human_corpus
processed_bot_corpus
human_dictionary
bot_dictionary
processed_bot_dictionary
processed_human_dictionary
data/.~lock.bot_dict_length.csv#
data/.~lock.human_dict_length.csv#
data/ReadMe
data/bot_dict_length.csv
data/dict_lengths.ofig
data/dictionary_lengths
data/human_dict_length.csv
data/tweetsbyusers.jpeg
data/vocabulary.jpeg
data/vocabulary_smaller_list.jpg
