__pycache__/
References/
doc/_build/html/_sources/
doc/_build/html/_static/
*.json
twitterfeatures/twitterusers.pyc
Approach
testdata/dictionary_lengths
testdata/dict_lengths.ofig
testdata/human_dict_length.csv
testdata/bot_dict_length.csv

